name: CI/CD Pipeline

on:
  release:
    types: [ published ]
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
env:
  REPO_NAME: apipilikas
  VERSION: ${{ github.event_name == 'release' && github.event.release.tag_name || github.sha }}

jobs:
  lint:
    name: Lint Code
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.11'

      - name: Install Ruff
        run: pip install ruff

      - name: Lint all files
        run: ruff check

  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-cov

      - name: Run tests with coverage
        run: pytest --cov=app --cov-fail-under=80

  build:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: github.event_name == 'push' || github.event_name == 'release'
    permissions:
      contents: read
      actions: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set lower case repository name
        run: |
          echo "IMAGE_NAME=${REPO,,}" >>${GITHUB_ENV}
        env:
          REPO: '${{ github.repository }}'

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build docker image
        run: |
          docker build -f docker/Dockerfile -t ${{ env.IMAGE_NAME }}:$VERSION .

      - name: Push docker image
        if: ${{ github.event_name == 'release' }}
        run: |
          docker push ${{ env.IMAGE_NAME }}:$VERSION
